//-----------------------------
// this file contains all @font-face declaratino
//----------------------------

@font-face {
    font-family: 'Work Sans';
    //src: url('../fonts/Work_Sans/WorkSans-Regular.ttf') format('truetype');
    src: font('Work_Sans/WorkSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Work Sans';
    //src: url('../fonts/Work_Sans/WorkSans-Medium.ttf') format('truetype');
    src: font('Work_Sans/WorkSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Work Sans';
    //src: url('../fonts/Work_Sans/WorkSans-Bold.ttf') format('truetype');
    src: font('Work_Sans/WorkSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
