//-----------------------------
// this file contains all application-wide Sass mixins.
//----------------------------

@mixin when-inside($context){
    #{$context} & {
        @content;
    }
}
@mixin when-have($context){
    &#{$context}{
        @content;
    }
}
