// This file contains all app-wide Sass variables

//--------------------------------------
// FONTS
//-------------------------------------
$text-font-stack: 'Work Sans', sans-serif;

//--------------------------------------
// COLORS
//-------------------------------------

$dark: #212B36;
$light: #f9fafb;

$primary: #485dc8;
$danger: #ed1c24;
$success: #219653;
$warning: #f2994a;

//---------------------------------------
// ACCESSIBILITY
//---------------------------------------

$breakpoints: (
    'sm' : 576px,
    'md' : 768px,
    'lg' : 992px,
    'xl' : 1200px
);

$shadows: (
    'Elevation_1' : 0px 4px 8px rgba(0, 0, 0, .08),
    'Elevation_2' : 0px 8px 16px rgba(0, 0, 0, .12),
    'Elevation_3' : 0px 16px 24px rgba(0, 0, 0, .16)
);

$base-url: '/assets/';